<section id="booked" class="p-5 mt-5">
    <div class="container">
      <div class="row">
        <h1 class="text-center">TODO</h1>
          <!-- <div class="spinner-border" role="status" *ngIf="isLoading">
            <span class="visually-hidden">Loading...</span>
          </div> -->
          <!-- <h6 class="text-center"> {{today | dateCustom: "eeee, dd MMMM yyyy":locale}}</h6> -->
          <app-booked-for>

          </app-booked-for>
            <app-booked-list>
                
            </app-booked-list>

      </div>
    </div>
  </section>
