// :host {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 12%;
//     margin-bottom: 12%;
//   }
  
//   .container {
//     width:450px;
//     display: flex;
//     flex-direction: column;
//   }
  
//   .card {
//     border-style: none;
//     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
//   }
  
//   .card-title h3 {
//     text-align: center;
//     margin-top: 20px;
//     font-size: 1.5rem;
//   }
  
//   .btn-login {
//     margin-top: 20px;
//   }
  
//   .btn-login-footer {
//     text-align: center;
//     color: gray;
//   }
  
//   .btn-login-footer a {
//     text-decoration: none;
//   }

.gradient-custom-2 {

  background: #fccb90;
  
  background: -webkit-linear-gradient(to right, #24eee4, #367fd8, #364cdd, #b44593);
  
  background: linear-gradient(to right, #24eee4, #367fd8, #364cdd, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }