<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">We are Blue Windowz Hotel Team</h4>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': isFormValid('email') }"
                      id="floatingInput"
                      placeholder="name@example.com"
                      formControlName="email"
                      placeholder="Phone number or email address"
                    />
                    <label class="form-label" for="form2Example11"
                      >Username</label
                    >
                    <app-validation-message
                      [control]="loginForm.get('email')"
                      [field]="'email'"
                    ></app-validation-message>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      class="form-control"
                      [ngClass]="{ 'is-invalid': isFormValid('password') }"
                      id="floatingPassword"
                      placeholder="Password"
                      formControlName="password"
                      type="password"
                    />
                    <label class="form-label" for="form2Example22"
                      >Password</label
                    >
                    <app-validation-message
                      [control]="loginForm.get('password')"
                      [field]="'password'"
                    ></app-validation-message>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      [disabled]="!loginForm.valid"
                    >
                      Log in
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h2 class="mb-4">We are Blue Windowz Hotel</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
